<?xml version="1.0"?>
<launch>

  <!--<arg name="urdf_file" default="$(find xacro)/xacro.py '$(find omnirob_robin_description)/robots/omnirob_robin.urdf.xacro'" />-->
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find omnirob_robin_description)/robots/omnirob_robin_simulated.urdf.xacro'" />
  <group ns="omnirob_robin">
    <param name="robot_description" command="$(arg urdf_file)" />
  </group>

  <!-- load hardware interface, only interfacing LWA3 -->
  <group ns="omnirob_robin">
    <node pkg="omnirob_robin_driver" type="omnirob_robin_lwa_interface" name="omnirob_robin_lwa_interface"></node>
  </group>

</launch>
