<?xml version="1.0"?>
<launch>
 
  <!-- load the gripper interface node -->   
   
  <node name="gripper_interface" pkg="omnirob_robin_driver" type="gripper_interface" respawn="false"
    output="screen" ns="omnirob_robin"/>
    
  <node name="base_interface" pkg="omnirob_robin_driver" type="base_interface" respawn="false"
    output="screen" ns="omnirob_robin"/>
    
  <node name="pan_tilt_interface" pkg="omnirob_robin_driver" type="pan_tilt_interface" respawn="false"
    output="screen" ns="omnirob_robin"/>
    
  <node name="virtuell_robot_driver_interface" pkg="omnirob_robin_driver" type="virtuell_robot_driver_interface" respawn="false"
    output="screen" ns="omnirob_robin"/>

      

</launch>


