<?xml version="1.0"?>
<launch>
	<!-- start localization nodes -->
	<include file="$(find omnirob_robin_navigation)/launch/complete.launch"></include>
	
	<!-- start object detection nodes -->
	
	<!-- start lwa nodes -->
	
	
	

	<!-- start main demo node -->
	<node pkg="omnirob_robin_demo" type="pick_and_place_demo" name="pick_and_place_demo" output="screen"></node>
	
</launch>
