<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find omnirob_robin_control)/config/lwa_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner_lwa" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/omnirob_robin" args="
    lwa/joint_controllers"/> 

</launch>
