<?xml version="1.0"?>
<launch>
  
    <rosparam command="load" file="$(find omnirob_robin_object_detection)/objects/objects.yaml" />

    <node name="omnirob_robin_object_detection" pkg="omnirob_robin_object_detection" type="omnirob_robin_object_detection" ns="omnirob_robin" respawn="false" output="screen">
      <remap from="/input_cloud" to="/kinect2/hd/points" /> 
    </node>
    
</launch>
