<?xml version="1.0"?>
<launch>


  <include file="$(find omnirob_robin_control)/launch/joint_states.launch"></include> 
  <include file="$(find omnirob_robin_control)/launch/base_control.launch"></include> 
  <include file="$(find omnirob_robin_control)/launch/pan_tilt_control.launch"></include>
  <include file="$(find omnirob_robin_control)/launch/gripper_control.launch"></include>   
  <include file="$(find omnirob_robin_control)/launch/lwa_control.launch"></include> 
  
 

</launch>
