<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find omnirob_robin_control)/config/pan_tilt_control.yaml" command="load"/>

  <!-- load the controllers -->   
    
  <node name="controller_spawner_pan_tilt" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/omnirob_robin" args="
    pan_tilt/pan_position_controller 
    pan_tilt/tilt_position_controller"/>
    
  

</launch>
