<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <gazebo reference="laser_scanner_link">
      <sensor type="ray" name="front_laser_scanner">
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <resolution>0.5</resolution>
              <min_angle>${-90.0*M_PI/180.0}</min_angle>
              <max_angle>${90.0*M_PI/180.0}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.30</min>
            <max>30.0</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_laser_scanner_controller" filename="libgazebo_ros_laser.so">
          <alwaysOn>true</alwaysOn>
          <topicName>laser_front/scan</topicName>
          <frameName>laser_scanner_link</frameName>
        </plugin>
      </sensor>
    </gazebo>
</robot>
