<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="lwa_gazebo" params="name">    
    
    <gazebo reference="${name}/link_1">        
        <selfCollide>true</selfCollide>
        <gravity>false</gravity>
        <material name="Schunk/DarkGolden" />
    </gazebo>
    
    <gazebo reference="${name}/link_2">        
        <selfCollide>true</selfCollide>
        <gravity>false</gravity>
        <material name="Schunk/DarkGolden" />
    </gazebo>
    
    <gazebo reference="${name}/link_3">        
        <selfCollide>true</selfCollide>
        <gravity>false</gravity>
        <material name="Schunk/DarkGolden" />
    </gazebo>
    
    <gazebo reference="${name}/link_4">        
        <selfCollide>true</selfCollide>
        <gravity>false</gravity>
        <material name="Schunk/DarkGolden" />
    </gazebo>
    
    <gazebo reference="${name}/link_5">        
        <selfCollide>true</selfCollide>
        <gravity>false</gravity>
        <material name="Schunk/DarkGolden" />
    </gazebo>
    
    <gazebo reference="${name}/link_6">        
        <selfCollide>true</selfCollide>
        <gravity>false</gravity>
        <material name="Schunk/DarkGolden" />
    </gazebo>
    
    <gazebo reference="${name}/link_7">        
        <selfCollide>true</selfCollide>
        <gravity>false</gravity>
        <material name="Schunk/DarkGolden" />
    </gazebo>

  </xacro:macro>

</robot>
