<?xml version="1.0"?>
<launch>
    
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find omnirob_robin_description)/robots/omnirob_robin_simulated.urdf.xacro'" />
  <!--<param name="robot_description" command="$(arg urdf_file)" />-->
  <param name="robot_description" command="$(arg urdf_file)" />
  <!--<param name="robot_description" value="15" />-->
  <!-- Gazebo model spawner -->
  <node name="spawn_omnirob_model" pkg="gazebo_ros" type="spawn_model"
        args="$(optenv ROBOT_INITIAL_POSE) -urdf -param robot_description 
        -x 2.3
        -y 1.9
        -z 0.01   
        -model omnirob"/>   
</launch>
