<?xml version="1.0"?>
<launch>
  <rosparam>
    joy_node/dev: "/dev/input/js0"
  </rosparam>
  <!-- omnirob_teleop_key already has its own built in velocity smoother -->
  <node pkg="joy" type="joy_node" name="joy_node"> </node>
  <node pkg="omnirob_mapping" type="teleop_joy" name="teleop_joy">  
    <remap from="/teleop_joy/cmd_vel" to="/omnirob_robin/base/drives/control/cmd_vel"/>
  </node>
</launch>
