<?xml version="1.0"?>
<launch>
  
    <rosparam command="load" file="$(find omnirob_robin_detection_reels)/objects/objects_reels.yaml" />

    <!-- <node name="omnirob_robin_detection_reels" pkg="omnirob_robin_detection_reels" type="omnirob_robin_detection_reels" ns="omnirob_robin" respawn="false" output="screen" launch-prefix="xterm -e gdb -args">
      <remap from="/input_cloud" to="/kinect2/qhd/points" />
    </node>-->

<node name="omnirob_robin_detection_reels" pkg="omnirob_robin_detection_reels" type="omnirob_robin_detection_reels" ns="omnirob_robin" respawn="false" output="screen">
      <remap from="/input_cloud" to="/kinect2/qhd/points" />
    </node>
    <include file="$(find omnirob_robin_detection_reels)/launch/detect_ar_marker.launch"></include>
    
</launch>
