<?xml version="1.0"?>
   
<robot name="omnirob_robin" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="simulated" value="1" />
  
  <xacro:include filename="$(find omnirob_robin_description)/urdf/omnirob_robin.library.xacro" />

  <!-- load the base of the robot -->
  <xacro:base />
  
  
  <xacro:camera_mast parent="base_link">
    <!-- set in properties xacro -->
    <insert_block name="camera_mast_origin" />
  </xacro:camera_mast>
  
 
  <xacro:schunk_pan_tilt parent="camera_mast_origin_link">   
    <!-- set in properties xacro -->
    <insert_block name="pan_tilt_origin" />
  </xacro:schunk_pan_tilt>
  
  
  <xacro:sensor_kinect parent="pan_tilt/tcp_link" />
  
  
  <xacro:sensor_sick3000 parent="base_link" />  
  
  
  <xacro:lwa parent="base_link" name="lwa">
	  <insert_block name="lwa_origin"/>
  </xacro:lwa>
  
  <xacro:schunk_pg70 parent="lwa/link_7" name="gripper">
    <insert_block name="gripper_origin"/>
  </xacro:schunk_pg70> 
  
</robot>
